#bigbox{
    /* border: 1px solid black; */
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    width: 900px;
}
#text{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    /* border: 1px solid black; */
    line-height: 20px;
    font-size: 20px;
}
#block{
    line-height: 20px;
    width: 300px;
    padding: 20px;
    /* border: 1px solid black; */
    color:white;
    background-color: black;
}
input{
    width: 300px;
    height: 30px;
}
button{
    background-color:BLACK; 
    color: white;
    width: 320px;
    height: 50px;
    font-size: 25px;
}